a{
    text-decoration: none;
    color: black;
}
.nazad{
    transition: all .3s ease-in;
}
.nazad:hover{
    color: #ff0000;
}
.nazad{
    text-decoration: none;
    border-radius: 7px;
    margin-bottom: 5px;
}
.photo__nazad{
    height: 18px;
    display: flex;
}